{% extends "base_admin.html" %}

{% block title %}Perfil del admin{% endblock %}
{% block nav_perfil %}active{% endblock %}

{% block content %}
<div class="profile-wrap">
    <div class="profile-card">
        <div class="profile-avatar">
            <i class="fa-regular fa-user"></i>
        </div>

        <div class="profile-info-row">
            <div class="profile-label">Nombre:</div>
            <div class="profile-value">Gael Jesus Martinez Garcia</div>
        </div>

        <div class="profile-info-row">
            <div class="profile-label">Rol:</div>
            <div class="profile-value">Administrador</div>
        </div>

        <div class="profile-info-row">
            <div class="profile-label">Estado:</div>
            <div class="profile-value">Indefinido</div>
        </div>

        <div class="profile-info-row" style="border-bottom:none;">
            <div class="profile-label">Correo electrónico:</div>
            <div class="profile-value">123046505@upq.edu.mx</div>
        </div>
    </div>
</div>
{% endblock %}